<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar consulta por id</title>
</head>
<body>
    <table>
        <tr>
            <th>paciente</th>
            <th>data</th>
            <th>medico</th>
            <th>status</th>
        </tr>
        <tr>
            <td>{{consulta.paciente}}</td>
            <td>{{consulta.data}}</td>
            <td>{{consulta.medico}}</td>
            <td>{{consulta.status}}</td>
        </tr>
    </table>
</body>
</html>